@model ITI.Survey.Web.UI.Models.InputNoMobilModel

@{
    ViewBag.Title = "Input No Mobil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using AGY.Solution.Helper;

<div class="row" id="samplecreateonly"></div>
<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Input No Mobil</b>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-12">
                        <form>

                            @Html.AntiForgeryToken()
                            <div id="ErrorSummary">
                                @Html.CustomValidationSummary()
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <div id="scanner-container"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            @Html.LabelFor(model => model.ContCardID, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                @Html.TextBoxFor(model => model.ContCardID, new { @class = "form-control" })
                                                <span id="btnScan" class="input-group-addon btn-scan">Scan</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label class="control-label">atau silahkan upload file foto</label>
                                        </div>
                                        <div class="col-sm-6">


                                            <input id="barcodeFileInput" type="file" accept="image/*;capture=camera" /> <br />

                                            @*    <input type="button" id="btnDecode" value="Decode" class="btn btn-primary" />*@

                                            <div id="codeResult"> </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            @Html.LabelFor(model => model.NoMobil, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(model => model.NoMobil, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            @Html.LabelFor(model => model.Angkutan, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(model => model.Angkutan, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            @Html.LabelFor(model => model.IsCombo, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.CheckBoxFor(model => model.IsCombo, new { @class = "form-control checkbox" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="col-md-offset-4 col-md-10">
                                            <button type="button" class="btn btn-primary btn-save" data-confirm-msg="Do you want to save?" 
                                                     data-href="@Url.Action("InputMobil", "InputNoMobil")">
                                                <span>Save </span>
                                            </button>
                                            <button type="button" class="btn btn-primary btn-cancel" data-href="@Url.Action("Index","Sample")"><span>Cancel </span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row hidden">

                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <label id="ResultMessage" class="control-label">Result</label>
                                        </div>
                                        <div id="result_strip">
                                            <ul class="thumbnails"></ul>
                                        </div>
                                        <div id="interactive" class="viewport"></div>
                                        <div id="debug" class="detection"></div>

                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/quagga.min.js"></script>

<script>






    var _scannerIsRunning = false;
    function DecoodeSingle() {
        alert("test");
        var input = $("#barcodeFileInput");

        alert("test");
        if (input[0].files && input[0].files.length) {

            var tmpImgURL = URL.createObjectURL(input[0].files[0]);

            Quagga.decodeSingle(

                {

                    inputStream: {

                        size: 640,

                        singleChannel: false

                    },

                    locator: {

                        patchSize: "large",

                        halfSample: false

                    },

                    decoder: {

                        readers: ["upc_reader", "code_128_reader", "code_39_reader", "code_39_vin_reader", "ean_8_reader", "ean_reader", "upc_e_reader", "codabar_reader"]

                    },

                    locate: true,
                    src: tmpImgURL

                },

                function (result) {

                    if (result && result.codeResult && result.codeResult.code) {

                        $("#ContCardID").val(result.codeResult.code);

                    } else {

                        $("#ContCardID").val("error");
                    }

                });
        }
    }

    function startScanner() {
        //SUPPORTS_MEDIA_DEVICES = 'mediaDevices' in navigator
        Quagga.init({
            inputStream: {
                name: "Live",
                type: "LiveStream",
                target: document.querySelector('#scanner-container'),
                constraints: {
                    width: 300,
                    height: 200,
                    facingMode: "user"
                },
            },
            decoder: {
                readers: [
                    "code_128_reader",
                    "ean_reader",
                    "ean_8_reader",
                    "code_39_reader",
                    "code_39_vin_reader",
                    "codabar_reader",
                    "upc_reader",
                    "upc_e_reader",
                    "i2of5_reader"
                ],
                debug: {
                    showCanvas: true,
                    showPatches: true,
                    showFoundPatches: true,
                    showSkeleton: true,
                    showLabels: true,
                    showPatchLabels: true,
                    showRemainingPatchLabels: true,
                    boxFromPatches: {
                        showTransformed: true,
                        showTransformedBox: true,
                        showBB: true
                    }
                }
            },

        }, function (err) {
            if (err) {
                console.log(err);
                $("#ResultMessage").val(err);
                //document.getElementById("ResultMessage").innerHTML = err;
                return
            }

            console.log("Initialization finished. Ready to SCAN");
            //            alert("Initialization finished. Ready to SCAN");
            $("#ResultMessage").val("Initialization finished. Ready to SCAN");

            Quagga.start();

            // Set flag to is running
            _scannerIsRunning = true;
        });

        Quagga.onProcessed(function (result) {
            var drawingCtx = Quagga.canvas.ctx.overlay,
                drawingCanvas = Quagga.canvas.dom.overlay;

            if (result) {
                if (result.boxes) {
                    drawingCtx.clearRect(0, 0, parseInt(drawingCanvas.getAttribute("width")), parseInt(drawingCanvas.getAttribute("height")));
                    result.boxes.filter(function (box) {
                        return box !== result.box;
                    }).forEach(function (box) {
                        Quagga.ImageDebug.drawPath(box, { x: 0, y: 1 }, drawingCtx, { color: "green", lineWidth: 2 });
                    });
                }

                if (result.box) {
                    Quagga.ImageDebug.drawPath(result.box, { x: 0, y: 1 }, drawingCtx, { color: "#00F", lineWidth: 2 });
                }

                if (result.codeResult && result.codeResult.code) {
                    Quagga.ImageDebug.drawPath(result.line, { x: 'x', y: 'y' }, drawingCtx, { color: 'red', lineWidth: 3 });
                }
            }
        });


        Quagga.onDetected(function (result) {
            // alert(result.codeResult.code);
            $("#ContCardID").val(result.codeResult.code);

        });
    }


    // Start/stop scanner
    document.getElementById("btnScan").addEventListener("click", function () {
        if (_scannerIsRunning) {
            _scannerIsRunning = false;
            document.getElementById("scanner-container").innerHTML = "";
            Quagga.stop();
        } else {
            _scannerIsRunning = true;
            startScanner();
        }
    }, false);
    //decode
    document.getElementById("barcodeFileInput").addEventListener("change", function () {
        if (_scannerIsRunning) {
            _scannerIsRunning = false;
            Quagga.stop();
        } else {
            _scannerIsRunning = false;
            DecoodeSingle();
        }
    }, false);

</script>
