
@{
    Layout = null;
}

@model IEnumerable<ITI.Survey.Web.UI.Models.SearchContainerModel>

<div class="col-xs-12">
    <div class="form-group">
        <input type="hidden" class="current-page" value="1" />
        <table class="table table-striped table-bordered dataTable" width="100%">
            <thead>
                <tr>
                    <th data-id="Cont" data-desc="True">
                        @Html.DisplayNameFor(model => model.Cont)
                    </th>
                    <th data-id="Cust" data-desc="True">
                        @Html.DisplayNameFor(model => model.CustomerCode)
                    </th>
                    <th data-id="Size" data-desc="True">
                        @Html.DisplayNameFor(model => model.Size)
                    </th>
                    <th data-id="Type" data-desc="True">
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    
                    <th data-id="Cond" data-desc="True">
                        @Html.DisplayNameFor(model => model.Condition)
                    </th>
                    <th data-id="DtmIn" data-desc="True">
                        @Html.DisplayNameFor(model => model.DtmIn)
                    </th>
                    <th data-id="ActIn" data-desc="True">
                        @Html.DisplayNameFor(model => model.ActIn)
                    </th>
                    <th data-id="Loc" data-desc="True">
                        @Html.DisplayNameFor(model => model.Location)
                    </th>
                    <th data-id="Age" data-desc="True">
                        @Html.DisplayNameFor(model => model.ContAge)
                    </th>
                    <th data-id="Message" data-desc="True">
                        @Html.DisplayNameFor(model => model.Message)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cont)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerCode)
                        </td> 
                        <td>
                            @Html.DisplayFor(modelItem => item.Size)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.Condition)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DtmIn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActIn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContAge)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Message)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @*<div class="dt-toolbar-footer">
                    <div class="col-xs-12 col-sm-12">
                        <div class="dataTables_paginate paging_simple_numbers">
                            @Html.Raw(ViewBag.Pagination)
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</div>