
@{
    ViewBag.Title = "Search Container By ContNo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model ITI.Survey.Web.UI.Models.SearchContainerModel


<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>SEARCH CONTAINER BY CONT NO</b>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="@Url.Action("SearchContainer", "DataTableContainerByContNo")" method="post">
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.Cont, htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-7">
                                               @Html.TextBoxFor(model => model.Cont, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                               
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <div class="col-md-3 col-md-offset-3">
                                                <button type="button" class="btn btn-primary btn-search" data-hidden=""
                                                        data-skip=""
                                                        data-property-order="Cont" data-pagesize="@int.MaxValue">
                                                    <span><i class="fa fa-search"></i> Search </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="data-result">
                        @Html.Partial("_dataTableContainerByContNo", new List<ITI.Survey.Web.UI.Models.ContainerDurationModel>())
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>