<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Survey Web">
    <meta name="author" content="AGY Solution">

    <title class="text-capitalize">@ViewBag.Title - SURVEY</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/Content/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="~/Content//vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="~/Content//vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Content/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/Content/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Website CSS -->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>
<body onload="loading()">
    <div id="divLoading" style="display: none;">
        <div id="loadingposition" style="position: absolute; left: 42%; top: 42%; z-index: 1055;">
            <img src="~/Content/img/Loading_icon.gif" alt="Processing" style="vertical-align: middle; width: 80px;" />
        </div>
    </div>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">Survey Application</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right text-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> @ViewBag.CurrentUserName</a>
                        </li>
                        @*<li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>*@
                        <li class="divider"></li>
                        <li>
                            <a id="btn-logout" href="#" data-href="@Url.Action("LogOff", "Account")"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard fa-fw"></i>HOME</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","ContainerDuration")">CONTAINER DURATION</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","MuatContainer")">MUAT CONTAINER</a>
                        </li>
                        <li>
                            <a href="@Url.Action("BongkarContainerAV","BongkarContainer")">BONGKAR CONTAINER AV</a>
                        </li>
                        <li>
                            <a href="@Url.Action("BongkarContainerDM","BongkarContainer")">BONGKAR CONTAINER DM</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","InputNoMobil")">INPUT NOMOR MOBIL</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","BlokSystem")">BLOK SYSTEM</a>
                        </li>
                        <li>
                            <a href="@Url.Action("SearchContainerByContNo","SearchContainer")">SEARCH BY CONTAINER</a>
                        </li>
                        <li>
                            <a href="@Url.Action("SearchContainerByKodeBlok","SearchContainer")">SEARCH BY BLOK</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-xs-12">
                    @RenderBody()
                </div>
            </div>
            <!-- /.row -->

            <div class="text-center">
                &copy; 2018
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <div class="confirmationdialog" title="Confirmation" style="display: none;">
        <p>
            <label class="control-label confirm-message"></label>
        </p>
    </div>
    <div class="notificationdialog" title="Notification" style="display: none;">
        <p>
            <label class="control-label notif-message"></label>
        </p>
    </div>

    <input type="hidden" id="AccessDeniedURL" value="@Url.Action("Login","Account")" />
    <input type="hidden" id="ErrorURL" value="@Url.Action("Login","Account")" />

    <!-- jQuery -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Content/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="~/Content/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="~/Content/vendor/raphael/raphael.min.js"></script>
    <script src="~/Content/vendor/morrisjs/morris.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Content/dist/js/sb-admin-2.js"></script>
    <script src="~/Scripts/CustomScript.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/LINQ_JS.js"></script>

    @RenderSection("scripts", false)
</body>
</html>
