@model ITI.Survey.Web.UI.Models.LoginModel
@using AGY.Solution.Helper

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    <div class="row">
        <h1 class="text-center">SURVEY APPLICATION</h1>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form" id="formLogin" action="@Url.Action("Login","Account")" enctype="multipart/form-data" method="post">
                        @Html.AntiForgeryToken()

                        <div id="ErrorSummary">
                            @Html.CustomValidationSummary()
                        </div>

                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Username" name="UserId" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="Password" type="password" value="">
                            </div>
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.HE, (IEnumerable<SelectListItem>)ViewBag.HeavyEquipmentList, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.OPID, (IEnumerable<SelectListItem>)ViewBag.Operators, new { @class = "form-control" })
                            </div>
                            @*<div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>*@
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="button" class="btn btn-lg btn-success btn-block" id="btnLogin">Login</button>
                            <span class="help-block" id="ErrorLogin"></span>
                        </fieldset>
                        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
                    </form>
                </div>
            </div>
            <div class="text-center">
                &copy; 2018
            </div>
        </div>
    </div>
</div>


