@using AGY.Solution.Helper
@{
    ViewBag.Title = "MUAT CONTAINER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>MUAT CONTAINER</b>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="row" id="transactionMuatScan">
                        <div class="col-md-12">
                            <form method="post">
                                @Html.AntiForgeryToken()
                                <div id="ErrorSummary">
                                    @Html.CustomValidationSummary()
                                </div>

                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <div id="scanner-container"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <label class="control-label">Silahkan ketik/scan kode kartu muat disini</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <input type="text" id="ContCardID" name="ContCardID" placeholder="ketik/scan kode kartu" class="form-control" maxlength="20" />
                                                    <span id="btnScan" class="input-group-addon btn-scan">Scan</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <label class="control-label">atau silahkan upload file foto</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <input id="barcodeFileInput" type="file" accept="image/*;capture=camera" />
                                                <div id="codeResult"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-12 text-center">
                                                <button type="button" value="Proses" id="btn-proses" class="btn btn-primary"
                                                        data-confirm-msg="Proses Muat Scan?" data-href="@Url.Action("ProsesMuatScan","MuatContainer")">
                                                    <span>  Proses  </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                    @Html.HiddenJson(new ITI.Survey.Web.UI.Models.ContCardModel(), new { @id = "contcardmodel" })
                    @Html.HiddenJson(new ITI.Survey.Web.UI.Models.CustDoModel(), new { @id = "custdomodel" })

                    <div class="row hidden" id="transactionMuat">
                        <div class="col-md-12">
                            <div id="muatcontainerdiv">
                                <h3 class="content1">Info</h3>
                                <div>
                                    <div id="text-info">
                                        Information
                                    </div>
                                </div>
                                <h3 class="content2">List</h3>
                                <div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="data-result">
                                                @Html.Partial("_DataTableMuatContainer", new List<ITI.Survey.Web.UI.Models.ContainerDurationModel>())
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="content3">Load</h3>
                                <div>

                                    <form id="FormLoadContainer" action="@Url.Action("SubmitLoadContainer","MuatContainer")" method="post">
                                        @Html.AntiForgeryToken()
                                        <div id="ErrorSummary">
                                            @Html.CustomValidationSummary()
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-sm-6">
                                                        <label class="control-label">Load Container</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="input-group">
                                                            <input type="text" id="Cont" name="Cont" placeholder="ketik container number" class="form-control" maxlength="20" />
                                                            <span class="input-group-addon btn-go-load" data-href="@Url.Action("GoLoadContainer","MuatContainer")">Go</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div id="info-load"></div>
                                                        @Html.HiddenJson(new ITI.Survey.Web.UI.Models.ContInOutModel(), new { @id = "continoutmodelforload" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-sm-6">
                                                        <label class="control-label">Seal</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text" id="Cont_Seal" name="Cont_Seal" placeholder="input seal" class="form-control" maxlength="50" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-sm-6">
                                                        <label class="control-label">Remark</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text" id="Remark" name="Remark" placeholder="remark" class="form-control" maxlength="250" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-sm-12 text-center">
                                                        <button type="button" value="Proses" id="btn-submit-load" class="btn btn-primary" disabled
                                                                data-confirm-msg="Muat Container?" data-href="@Url.Action("SubmitKartuMuat","MuatContainer")">
                                                            <span>  Submit  </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                                <h3 class="content4">Re-Select</h3>
                                <div>
                                    <form method="post" id="FormReturnContainer">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label">Kembalikan Container</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div id="return-container-info"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-sm-3">
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <div class="col-md-11"><label class="control-label">Blok</label></div>
                                                            <div class="col-md-11">
                                                                <select name="Blok" class="form-control">
                                                                    @for (char i = 'A'; i <= 'Z'; i++)
                                                                    {
                                                                        /**/
                                                                        <option value="@i">@i</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <div class="col-md-11"><label class="control-label">Bay</label></div>
                                                            <div class="col-md-11"><input type="text" name="Bay" class="form-control" maxlength="2" /></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-3">
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <div class="col-md-11"><label class="control-label">Row</label></div>
                                                            <div class="col-md-11"><input type="text" name="Row" class="form-control" maxlength="2" /></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <div class="col-md-12"><label class="control-label">Tier</label></div>
                                                            <div class="col-md-12"><input type="text" name="Tier" class="form-control" maxlength="1" /></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-sm-12 text-center">
                                                        <button type="button" id="btn-pindahkan-blok" class="btn btn-primary"
                                                                data-confirm-msg="Pindahkan Blok Container?" data-href="@Url.Action("PindahkanBlokContainer","MuatContainer")">
                                                            <span> Pindahkan Blok </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <form method="post" id="FormReselectContainer">
                                        @Html.AntiForgeryToken()
                                        <div id="ErrorSummary">
                                            @Html.CustomValidationSummary()
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-sm-6">
                                                        <label class="control-label">Re-Select Container</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="input-group">
                                                            <input type="text" id="Cont" name="Cont" placeholder="ketik container number" class="form-control" maxlength="20" />
                                                            <span class="input-group-addon btn-go-reselect" data-href="@Url.Action("GoReselectContainer","MuatContainer")">Go</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div id="info-reselect"></div>
                                                        @Html.HiddenJson(new ITI.Survey.Web.UI.Models.ContInOutModel(), new { @id = "continoutmodelforreselect" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-sm-6">
                                                        <label class="control-label">Seal</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text" id="Cont_Seal" name="Cont_Seal" placeholder="input seal" class="form-control" maxlength="50" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-sm-6">
                                                        <label class="control-label">Remark</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text" id="Remark" name="Remark" placeholder="remark" class="form-control" maxlength="250" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-sm-12 text-center">
                                                        <button type="button" value="Proses" id="btn-submit-reselect" class="btn btn-primary" disabled
                                                                data-confirm-msg="Ganti Container?" data-href="@Url.Action("ReSubmitKartuMuat","MuatContainer")">
                                                            <span>  Submit  </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @Html.HiddenJson(new ITI.Survey.Web.UI.Models.InOutRevenueModel(), new { @id = "inoutrevenuemodel" })

            </div>


        </div>
    </div>
</div>

<script src="~/Scripts/quagga.min.js"></script>
<script>
    //'use strict';

    var _scannerIsRunning = false;

    function DecoodeSingle() {
        var input = $("#barcodeFileInput");

        if (input[0].files && input[0].files.length) {

            var tmpImgURL = URL.createObjectURL(input[0].files[0]);

            Quagga.decodeSingle(

                {

                    inputStream: {

                        size: 640,

                        singleChannel: false

                    },

                    locator: {

                        patchSize: "large",

                        halfSample: false

                    },

                    decoder: {

                        readers: ["code_39_reader", "code_39_vin_reader"]

                    },

                    locate: true,
                    src: tmpImgURL

                },

                function (result) {

                    if (result && result.codeResult && result.codeResult.code) {

                        $("#ContCardID").val(result.codeResult.code);

                    } else {

                        $("#ContCardID").val("error");
                    }

                });
        }
    }
    function startScanner() {
        //SUPPORTS_MEDIA_DEVICES = 'mediaDevices' in navigator


        if (!navigator.mediaDevices || !navigator.mediaDevices.enumerateDevices) {
            alert("enumerateDevices() not supported.");
            return;
        }

        var backCamID = '';

        navigator.mediaDevices.enumerateDevices()
        .then(function (devices) {
            devices.forEach(function (device) {
                //alert( JSON.stringify(device) );
                if (device.kind == "videoinput" && device.label.indexOf("back") !== -1) {
                    //alert("Back found!");
                    //alert( JSON.stringify(device) );
                    backCamID = device.deviceId;
                    //alert(backCamID);
                }
            });
        })
        .catch(function (err) {
            //alert(err.name + ": " + err.message);
        });

        //if (typeof (backCamID) == "undefined") {
        //    alert("back camera not found.");
        //}

        Quagga.init({
            inputStream: {
                name: "Live",
                type: "LiveStream",
                target: document.querySelector('#scanner-container'),
                constraints: {
                    width: 300,
                    height: 200,
                    facingMode: "environment",
                    deviceId: backCamID
                },
            },
            decoder: {
                readers: [
                    "code_39_reader",
                    "code_39_vin_reader"
                ],
                debug: {
                    showCanvas: true,
                    showPatches: true,
                    showFoundPatches: true,
                    showSkeleton: true,
                    showLabels: true,
                    showPatchLabels: true,
                    showRemainingPatchLabels: true,
                    boxFromPatches: {
                        showTransformed: true,
                        showTransformedBox: true,
                        showBB: true
                    }
                }
            },

        }, function (err) {
            if (err) {
                console.log(err);
                $("#ResultMessage").val(err);
                //document.getElementById("ResultMessage").innerHTML = err;
                return
            }

            console.log("Initialization finished. Ready to SCAN");
            //            alert("Initialization finished. Ready to SCAN");
            $("#ResultMessage").val("Initialization finished. Ready to SCAN");

            Quagga.start();

            // Set flag to is running
            _scannerIsRunning = true;
        });

        Quagga.onProcessed(function (result) {
            var drawingCtx = Quagga.canvas.ctx.overlay,
                drawingCanvas = Quagga.canvas.dom.overlay;

            if (result) {
                if (result.boxes) {
                    drawingCtx.clearRect(0, 0, parseInt(drawingCanvas.getAttribute("width")), parseInt(drawingCanvas.getAttribute("height")));
                    result.boxes.filter(function (box) {
                        return box !== result.box;
                    }).forEach(function (box) {
                        Quagga.ImageDebug.drawPath(box, { x: 0, y: 1 }, drawingCtx, { color: "green", lineWidth: 2 });
                    });
                }

                if (result.box) {
                    Quagga.ImageDebug.drawPath(result.box, { x: 0, y: 1 }, drawingCtx, { color: "#00F", lineWidth: 2 });
                }

                if (result.codeResult && result.codeResult.code) {
                    Quagga.ImageDebug.drawPath(result.line, { x: 'x', y: 'y' }, drawingCtx, { color: 'red', lineWidth: 3 });
                }
            }
        });


        Quagga.onDetected(function (result) {
            // alert(result.codeResult.code);
            $("#ContCardID").val(result.codeResult.code);
        });
    }


    // Start/stop scanner
    document.getElementById("btnScan").addEventListener("click", function () {
        if (_scannerIsRunning) {
            _scannerIsRunning = false;
            document.getElementById("scanner-container").innerHTML = "";
            Quagga.stop();
        } else {
            _scannerIsRunning = true;
            startScanner();
        }
    }, false);

    //decode
    document.getElementById("barcodeFileInput").addEventListener("change", function () {
        if (_scannerIsRunning) {
            _scannerIsRunning = false;
            Quagga.stop();
        } else {
            _scannerIsRunning = false;
            DecoodeSingle();
        }
    }, false);
</script>

@section scripts{
    <script>
        $(document).ready(function () {
            $('div[id="transactionMuatScan"]').removeClass('hidden');

            $("#muatcontainerdiv").accordion({
                collapsible: true,
                header: "h3",
                heightStyle: "content"
            });

            $('#btn-proses').Confirmation(function (href, $form, successmsg, failedmsg) {

                $.ajax({
                    url: href,
                    data: { contCardID: $('#ContCardID', $form).val() },
                    dataType: 'json',
                    type: 'post',
                    beforeSend: function () {
                        $form.showloading();
                    },
                    complete: function () {
                        $form.hideloading();
                    },
                    success: function (result) {
                        if (result.Status == true) {
                            if (successmsg != undefined) {
                                PopupMessage(successmsg, function () {
                                    if (result.Href != undefined)
                                        window.location.href = result.Href;
                                });
                            } else {

                                $('div[id="transactionMuat"]').removeClass('hidden');
                                $('div[id="transactionMuatScan"]').addClass('hidden');
                                $("#muatcontainerdiv").accordion({
                                    collapsible: true,
                                    header: "h3",
                                    active: $('#muatcontainerdiv h3').index($('.content1')),
                                    heightStyle: "content"
                                });
                                $("#muatcontainerdiv").accordion("refresh");

                                if (result.ContCard != undefined) {
                                    $('#contcardmodel').val(result.ContCard);
                                }

                                if (result.CustDo != undefined) {
                                    $('#custdomodel').val(result.CustDo);
                                }

                                if (result.InOutRevenue != undefined) {
                                    $('#inoutrevenuemodel').val(result.InOutRevenue);
                                }

                                if (result.Info != undefined) {
                                    $('#text-info').html(result.Info);
                                }

                                if (result.ContInOut != undefined) {
                                    $('#continoutmodelforload').val(result.ContInOut);
                                }

                                if (result.MuatContainers != undefined) {
                                    $('div[class="data-result"]').html(result.MuatContainers);
                                    $('div[class="data-result"]').find('table').DataTable({
                                        responsive: true,
                                        columnDefs: [{
                                            "targets": 'no-sort',
                                            "orderable": false
                                        }]
                                    });

                                    $('div[class="data-result"]').find('.load-container').each(function () {
                                        $(this).click(function () {
                                            var cont = $(this).attr('data-container');
                                            $("#muatcontainerdiv").accordion({
                                                collapsible: true,
                                                header: "h3",
                                                active: $('#muatcontainerdiv h3').index($('.content3')),
                                                heightStyle: "content"
                                            });
                                            $('input[name="Cont"]', $('form[id="FormLoadContainer"]')).val(cont).focus();
                                        })
                                    })

                                    $('div[class="data-result"]').find('.reselect-container').each(function () {
                                        $(this).click(function () {
                                            var cont = $(this).attr('data-container');
                                            $("#muatcontainerdiv").accordion({
                                                collapsible: true,
                                                header: "h3",
                                                active: $('#muatcontainerdiv h3').index($('.content4')),
                                                heightStyle: "content"
                                            });
                                            $('input[name="Cont"]', $('form[id="FormReselectContainer"]')).val(cont).focus();
                                        })
                                    })
                                }

                            }
                        } else {
                            if (result.errorList != undefined) {
                                var errorResult = '';
                                errorResult += "<div class='validation-summary-errors' data-valmsg-summary='true'><ul>";
                                $.each(result.errorList, function (i, value) {
                                    errorResult += "<li style='cursor: pointer; color: red; list-style-type: square; margin-left: 15px;' key='" + value.Key + "'>" + value.ErrorMessage + "</li>";
                                });
                                errorResult += "</ul></div>";

                                $('#ErrorSummary', $form).html(errorResult);
                                $(window).showErrorModelState();
                            }
                            else {
                                if (failedmsg != undefined) {
                                    PopupMessage(failedmsg);
                                } else {
                                    PopupMessage(result.Message);
                                }
                            }
                        }
                    }
                });

            });

            $('.btn-go-load').click(function () {
                var href = $(this).attr('data-href');
                var $form = $(this).closest('form');
                $.ajax({
                    url: href,
                    data: {
                        cont: $('#Cont', $form).val(),
                        cc: $('#contcardmodel').val(),
                        cdo: $('#custdomodel').val()
                    },
                    dataType: 'json',
                    type: 'post',
                    beforeSend: function () {
                        $form.showloading();
                    },
                    complete: function () {
                        $form.hideloading();
                    },
                    success: function (result) {
                        $('#info-load', $form).html(result.Message);
                        $("#muatcontainerdiv").accordion({
                            collapsible: true,
                            header: "h3",
                            active: $('#muatcontainerdiv h3').index($('.content3')),
                            heightStyle: "content"
                        });
                        $("#muatcontainerdiv").accordion("refresh");
                        if (result.ContInOut != undefined) {
                            $('#continoutmodelforload', $form).val(result.ContInOut);
                        }
                        if (result.Status) {
                            $('#btn-submit-load').removeAttr('disabled')
                        } else {
                            $('#btn-submit-load').attr('disabled', 'disabled');
                        }
                        if (result.ContOld != undefined) {
                            $('#return-container-info').html(result.ContOld);
                        }
                    }
                });
            });

            $('#btn-submit-load').Confirmation(function (href, $form, successmsg, failedmsg) {

                $.ajax({
                    url: href,
                    data: {
                        skm: JSON.stringify($form.serializeObject()),
                        cc: $('#contcardmodel').val(),
                        cdo: $('#custdomodel').val(),
                        rev: $('#inoutrevenuemodel').val(),
                        cont: $('#continoutmodelforload', $form).val()
                    },
                    dataType: 'json',
                    type: 'post',
                    beforeSend: function () {
                        $form.showloading();
                    },
                    complete: function () {
                        $form.hideloading();
                    },
                    success: function (result) {
                        if (result.Status == true) {
                            if (successmsg != undefined) {
                                PopupMessage(successmsg, function () {
                                    if (result.Href != undefined)
                                        window.location.href = result.Href;
                                });
                            } else {
                                PopupMessage(result.Message);
                            }
                        } else {
                            if (result.errorList != undefined) {
                                var errorResult = '';
                                errorResult += "<div class='validation-summary-errors' data-valmsg-summary='true'><ul>";
                                $.each(result.errorList, function (i, value) {
                                    errorResult += "<li style='cursor: pointer; color: red; list-style-type: square; margin-left: 15px;' key='" + value.Key + "'>" + value.ErrorMessage + "</li>";
                                });
                                errorResult += "</ul></div>";

                                $('#ErrorSummary', $form).html(errorResult);
                                $(window).showErrorModelState();
                            }
                            else {
                                if (failedmsg != undefined) {
                                    PopupMessage(failedmsg);
                                } else {
                                    PopupMessage(result.Message);
                                }
                            }
                        }
                    }
                });
            });

            $('.btn-go-reselect').click(function () {
                var href = $(this).attr('data-href');
                var $form = $(this).closest('form');
                $.ajax({
                    url: href,
                    data: {
                        cont: $('#Cont', $form).val(),
                        cc: $('#contcardmodel').val(),
                        cdo: $('#custdomodel').val()
                    },
                    dataType: 'json',
                    type: 'post',
                    beforeSend: function () {
                        $form.showloading();
                    },
                    complete: function () {
                        $form.hideloading();
                    },
                    success: function (result) {
                        $('#info-reselect', $form).html(result.Message);
                        $("#muatcontainerdiv").accordion({
                            collapsible: true,
                            header: "h3",
                            active: $('#muatcontainerdiv h3').index($('.content4')),
                            heightStyle: "content"
                        });
                        $("#muatcontainerdiv").accordion("refresh");
                        if (result.ContInOut != undefined) {
                            $('#continoutmodelforreselect', $form).val(result.ContInOut);
                        }
                        if (result.Status) {
                            $('#btn-submit-reselect').removeAttr('disabled')
                        } else {
                            $('#btn-submit-reselect').attr('disabled', 'disabled');
                        }
                    }
                });
            });

            $('#btn-submit-reselect').Confirmation(function (href, $form, successmsg, failedmsg) {

                $.ajax({
                    url: href,
                    data: {
                        skm: JSON.stringify($form.serializeObject()),
                        cc: $('#contcardmodel').val(),
                        cdo: $('#custdomodel').val(),
                        rev: $('#inoutrevenuemodel').val(),
                        cont: $('#continoutmodelforreselect', $form).val()
                    },
                    dataType: 'json',
                    type: 'post',
                    beforeSend: function () {
                        $form.showloading();
                    },
                    complete: function () {
                        $form.hideloading();
                    },
                    success: function (result) {
                        if (result.Status == true) {
                            if (successmsg != undefined) {
                                PopupMessage(successmsg, function () {
                                    if (result.Href != undefined)
                                        window.location.href = result.Href;
                                });
                            } else {
                                PopupMessage(result.Message);
                            }
                        } else {
                            if (result.errorList != undefined) {
                                var errorResult = '';
                                errorResult += "<div class='validation-summary-errors' data-valmsg-summary='true'><ul>";
                                $.each(result.errorList, function (i, value) {
                                    errorResult += "<li style='cursor: pointer; color: red; list-style-type: square; margin-left: 15px;' key='" + value.Key + "'>" + value.ErrorMessage + "</li>";
                                });
                                errorResult += "</ul></div>";

                                $('#ErrorSummary', $form).html(errorResult);
                                $(window).showErrorModelState();
                            }
                            else {
                                if (failedmsg != undefined) {
                                    PopupMessage(failedmsg);
                                } else {
                                    PopupMessage(result.Message);
                                }
                            }
                        }
                    }
                });
            });
        })
    </script>
}